<div style="display: block">
  <div mdcHeadline1>Mugen</div>
  <div mdcSubtitle1>An open source online music generator.</div>
  <mdc-select #enhanced required class="enhanced-width" style="text-align: left" placeholder="Genre">
    <mdc-menu>
      <mdc-list>
        <mdc-list-item value="classical" selected>Classical</mdc-list-item>
        <mdc-list-item value="country">Country</mdc-list-item>
        <mdc-list-item value="rap">Rap</mdc-list-item>
      </mdc-list>
    </mdc-menu>
  </mdc-select>
  <div class="image" [mdcElevation]="4"></div>
  <div class="play-pause-container">
    <button mdc-fab class="controls" icon="fast_rewind" id="rewind"></button>
    <button mdc-fab class="controls" icon="play_arrow" id="control"></button>
    <button mdc-fab class="controls" icon="fast_forward" id="forward"></button>
  </div>
</div>
