@import '../../../styles.scss';

.play-pause-container {
  display: inline-block;
  margin: 8px auto;
}

.controls {
  margin: 0 12px;
  width: 25vh;
  height: 25vh;
  border-radius: 2rem !important;
}

.controls.mdc-fab__icon {
  width: 48px;
  height: 48px;
}

.enhanced-width {
  margin-top: 16px;
  margin-bottom: 8px;
  width: 7rem;
}
