<div class="mdc-top-app-bar--fixed-adjust" style="display: block">
  <div mdcHeadline1><a [href]="'https://github.com/o-wth/mugen'" class="mdc-theme--on-surface">Mugen</a></div>
  <div mdcSubtitle1 class="mdc-theme--on-surface">An open source online music generator.</div>
  <div mdcSubtitle1 class="mdc-theme--on-surface">(May take a couple of seconds to load)</div>
  <div class="play-pause-container">
    <button mdc-fab class="controls" icon="play_arrow" #playPauseFAB (click)="toggleControl();"></button>
  </div>
  <mdc-chip-set>
    <mdc-chip>
      <a [href]="'https://magenta.tensorflow.org/js-announce'" target="_blank">
        <mdc-chip-text>Magenta.js</mdc-chip-text>
      </a>
    </mdc-chip>
    <mdc-chip>
      <a [href]="'https://angular.io'" target="_blank">
        <mdc-chip-text>Angular</mdc-chip-text>
      </a>
    </mdc-chip>
    <mdc-chip>
      <a [href]="'https://www.tensorflow.org/js/'" target="_blank">
        <mdc-chip-text>TensorFlow.js</mdc-chip-text>
      </a>
    </mdc-chip>
  </mdc-chip-set>
</div>
