$mdc-theme-primary: #673ab7;
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-secondary: #673ab7;
$mdc-theme-on-secondary: #FFFFFF;
$mdc-theme-surface: #ede7f6;
$mdc-theme-on-surface: #33333D;
$mdc-theme-background: #ede7f6;
$mdc-theme-on-background: #33333D;
$mdc-theme-primary-lighter: #aab6fe;

@import "~@angular-mdc/theme/material";

html, body {
    height: 100%;
    background-color: $mdc-theme-background;
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding-top: 0.1px;
}