$mdc-theme-primary: #9fa8da;
$mdc-theme-on-primary: #33333D;
$mdc-theme-secondary: #9fa8da;
$mdc-theme-on-secondary: #33333D;
$mdc-theme-surface: #33333D;
$mdc-theme-on-surface: #ede7f6;
$mdc-theme-background: #33333D;
$mdc-theme-on-background: #ede7f6;
$mdc-theme-primary-lighter: #aab6fe;
@import "~@angular-mdc/theme/material";

body,
html {
  height: 100%;
  background-color: $mdc-theme-background;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px;
}

a {
  color: inherit;
  text-decoration: none;
}
